bin/
obj/
**/bin/
**/obj/
/packages/
*.user
*.suo
*.userosscache
*.sln.docstates
_ReSharper.Caches/
.idea/
.vscode/
*.iml

node_modules/
**/node_modules/
dist/
**/dist/
.vite/
**/.vite/
npm-debug.log*
pnpm-debug.log*
yarn-error.log*

publish/
**/publish/
logs/
**/logs/
recsettings.json
channels.json
*.log

src/backend/Server/wwwroot/
src/frontend/.env
src/frontend/.env.*
src/frontend/.eslintcache
